html {
  /* pink */
  --pink:#F47;
  --pinkSel:#2AF;
  --pinkBg:#FFF;
  /* red */
  --red:#B00;
  --redSel:#25F;
  --redBg:#FFF;
  /* blue */
  --blue:#00B;
  --blueSel:#E46;
  --blueBg:#FFF;
  /* cyan */
  --cyan:#0BC;
  --cyanSel:#E57;
  --cyanBg:#FFF;
  /* lightBlue */
  --lightBlue:#08F;
  --lightBlueSel:#0CC;
  --lightBlueBg:#FFF;
  /* dark-cyan */
  --dark-cyan:#0EF;
  --dark-cyanSel:#35F;
  --dark-cyanBg:#112;
  /* dark-lightBlue (same as blue) */
  --dark-lightBlue:#4BF;
  --dark-lightBlueSel:#0EC;
  --dark-lightBlueBg:#112;
  /* dark-blue */
  --dark-blue:#4BF;
  --dark-blueSel:#0EC;
  --dark-blueBg:#112;
  /* dark-red */
  --dark-red:#F44;
  --dark-redSel:#F80;
  --dark-redBg:#300;
  /* dark-pink */
  --dark-pink:#F47;
  --dark-pinkSel:#2AF;
  --dark-pinkBg:#212;
  /* foreground */
  --darkFg:#FFF;
  --lightFg:#000;
  /* ACTIVE */
  --color1:var(--dark-blue);
  --selColor:var(--dark-blueSel);
  --colorBg:var(--dark-blueBg);
  --colorFg:var(--darkFg);
}
