html{
  --tooltipFont:0.8em;
}
.tooltip {
  transition-property:font-size, padding, border-color, max-width, background;
  transition-duration:var(--medAnimTime);
  transition-timing-function:ease;
  user-select:none;
  font-size:0;
  background:transparent;
  z-index:1000;
  position:absolute;
  padding:0;
  color:var(--colorFg);
  border-radius:0.3rem;
  border:1px dashed transparent;
  pointer-events:none;
  font-weight:400;
  font-variation-settings: 'CASL' 1, 'slnt' -15;
  white-space:break-spaces;
  display:block;
  line-height:1;
  max-width:10em;
}
.tooltiptrigger:hover > .tooltip, .triggered > .tooltip {
  transition-duration:var(--longAnimTime);
  transition-timing-function:var(--longTransition);
  font-size:var(--tooltipFont);
  padding:0.3rem;
  max-width:10000em;
  border-color:var(--colorFg);
  background:var(--colorBg);
}
.triggered > .tooltip {
  transition-duration:var(--medAnimTime);
  transition-timing-function:ease-out;
  z-index:1001;
}
.tooltiptrigger {
  --hover:true;
  display:inline;
}
.tooltiptrigger:hover {
  --hover:false;
  display:unset;
}
