html
  /* pink */
  --pink:#F47
  --pinkHover:#F38
  --pinkFocus:#F0A
  /* red */
  --red:#B00
  --redHover:#B00
  --redFocus:#F00
  /* blue */
  --blue:#00B
  --blueHover:#00B
  --blueFocus:#00F
  /* cyan */
  --cyan:#0BC
  --cyanHover:#0DE
  --cyanFocus:#0EF
  /* lblue */
  --lblue:#08F
  --lblueHover:#06F
  --lblueFocus:#04F
  /* dark-cyan */
  --dark-cyan:#0BC
  --dark-cyanHover:#0DE
  --dark-cyanFocus:#0EF
  /* dark */
  --darkBg:#000
  --darkBg2:#223
  --darkFg:#FFF
  /* light */
  --lightBg:#FFF
  --lightBg2:#FFF
  --lightFg:#000

  /* ACTIVE */
  --color1:var(--dark-cyan)
  --color1Hover:var(--dark-cyanHover)
  --color1Focus:var(--dark-cyanFocus)
  --selColor:var(--pink)
  --colorBg:var(--darkBg)
  --colorBg2:var(--darkBg2)
  --colorFg:var(--darkFg)
