body {
  margin:1em;
  font-family:-apple-system, BlinkMacSystemFont, 'Recursive', 'Courier New', monospace;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  --color1:#B00;
  --color1Hover:#D44;
  --color1Focus:#F00;
  --ihatethis:187,0,0;
  --animTime:0.2s;
  --longAnimTime:1.5s;
  stroke-linecap:round;
  stroke-linejoin:round;
  font-variation-settings: 'CASL' 1;
  font-weight:370;
}

@keyframes growIn {
  0% {font-size:0;opacity:0}
  100% {font-size:1em;opacity:1}
}
@keyframes shrinkOut {
  0% {font-size:1em;opacity:1}
  100% {font-size:0;opacity:0}
}
@keyframes fadeInDown {
  0% {transform:translateX(-10rem);font-size:0;opacity:0}
  100% {transform:translateY(0);font-size:1em;opacity:1}
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: #0008;
  border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
  background: #000b;
}

#shell {
  width:max-content;
  font-variation-settings: 'MONO' 1;
}
#root > * {
  margin: 0.5rem 0;
}
.tooltip {
  transition:all var(--animTime) linear;
  font-size:0;
  opacity:0;
  background:white;
  z-index:1000;
  position:absolute;
  padding:0.3em;
  color:var(--color1);
  border-radius:0.3em;
  border:1px dashed var(--color1);
  overflow-wrap:anywhere;
  pointer-events:none;
  font-variation-settings: 'CASL' 1, 'slnt' -15;
}
.tooltiptrigger:hover .tooltip {
  transition:all var(--longAnimTime) cubic-bezier(1, 0, 0.8, 1);
  font-size:1em;
  opacity:1;
}
.suggestions {
  transition:opacity var(--animTime) linear;
  padding:0.3em 0;
  overflow-x:scroll;
  white-space:nowrap;
  font-variation-settings: 'CASL' 1;
}
.suggestions > span > span {
  margin:0 0.3em;
}
.suggestions > span > span:first-child {
  margin-left:0;
}
.suggestions > span > span:last-child {
  margin-right:0;
}
.unstyled {
  border:0;
  outline:0;
}
.button.active {
  transition:all var(--animTime) linear;
  opacity:1;
}
.button {
  transition:all var(--animTime) linear;
  color:white;
  border-radius:0.3em;
  cursor:pointer;
  background-color:var(--color1);
  padding:0.3em;
  opacity:0.3;
}
.button:hover {
  transition:all var(--animTime) linear;
  opacity:1;
  background-color:var(--color1Hover);
}
.button:active {
  opacity:1;
  background-color:var(--color1Focus);
}
.suggestion.active {
  font-weight:700;
}
.suggestion.strong {
  transition:all var(--animTime) linear;
  color:white;
  padding:0.3em;
  border:0;
  background:var(--color1);
}
.suggestion {
  animation: var(--animTime) ease-out 0s 1 growIn;
  transition:all var(--animTime) linear;
  color:var(--color1);
  border-radius:0.3em;
  border:0.1em solid var(--color1);
  cursor:pointer;
  background-color:transparent;
  padding:0.2em;
}
.suggestion.hidden {
  animation: var(--animTime) ease-out 0s 1 shrinkOut;
  font-size:0;
}
.suggestion:hover {
  color:var(--color1Hover);
  border-color:var(--color1Hover);
  font-weight:800;
}
.suggestion:active {
  color:var(--color1Focus);
  border-color:var(--color1Focus);
  font-weight:900;
}
.icon {
  background-repeat:no-repeat;
  background-position:center;
  user-select:none;
}
.inactive {
  transition:all var(--animTime) linear;
  opacity:0.1;
}
.title {
  color:var(--color1);
  font-weight:bold;
}
.shellBuffer {
  display:flex;
  flex-direction:column;
  width: fit-content;
}
.shellBuffer > div {
  animation: var(--animTime) ease-out 0s 1 fadeInDown;
  transition:all var(--animTime) linear;
  padding:0.5rem;
  overflow-wrap:anywhere;
  opacity:1;
}
.shellBuffer > div:hover {
  font-weight:550;
}
.shellBuffer > div.selected {
  font-weight:800;
}
#cmdBuffer > div.selected {
  font-variation-settings: 'MONO' 1, 'CASL' 0;
}

#resultBuffer > div.selected {
  font-variation-settings: 'CASL' 0;
}

.bufferMap {
  width:1rem;
}

#doubleBuffer {
  display:flex;
}
.hsep {
  border-left:1px solid black;
  margin:0 0.5em;
}
#cmdBuffer {
  min-width:10em;
  font-variation-settings: 'MONO' 1, 'CASL' 1;
}
