html {
  margin:1em;
  font-family:-apple-system, BlinkMacSystemFont, 'Recursive', 'Courier New', monospace;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  --ihatethis:187,0,0;
  --animTime:0.2s;
  --medAnimTime:0.35s;
  --longAnimTime:2s;
  --longTransition:cubic-bezier(0.8, 0, 0.2, 1);
  stroke-linecap:round;
  stroke-linejoin:round;
  font-variation-settings: 'CASL' 1;
  font-weight:370;
  background:var(--colorBg);
  color:var(--colorFg);
  transition:all var(--animTime) ease;
}
body{
  margin:0;
}

@keyframes fadeIn {
  0% {opacity:0}
  100% {opacity:1}
}
@keyframes growIn {
  0% {font-size:0;opacity:0}
  100% {font-size:1em;opacity:1}
}
@keyframes fadeInLeft {
  0% {transform:translateX(-10rem);font-size:0;opacity:0}
  100% {transform:translateX(0);font-size:1em;opacity:1}
}
@keyframes whiteToColor {
  0% {color:white}
  100% {color:var(--color1)}
}
::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}
::-webkit-scrollbar-track {
  background:transparent;
  border-radius: 1em;
}
::-webkit-scrollbar-thumb {
  background-image: linear-gradient(45deg, transparent 25%, var(--color1Hover) 25%, var(--color1Hover) 50%, transparent 50%, transparent 75%, var(--color1Hover) 75%, var(--color1Hover));
  background-color: var(--color1);
  border-radius: 1em;
}
::-webkit-scrollbar-thumb:hover {
  background-color: var(--color1Hover);
}
::-webkit-scrollbar-thumb:active {
  background-color: var(--color1Focus);
}
::selection {
  color:var(--colorBg);
  background:var(--selColor);
}
#shell {
  width:max-content;
  max-width:100%;
  font-variation-settings: 'MONO' 1;
  padding:0 0.3em;
}
#shellPrefix {
  color:var(--colorFg);
  transition:all var(--animTime) ease;
  font-variation-settings: 'CASL' 0;
}
hr {
  border-color:var(--color1);
  margin:1em 0;
}
#shellPrefix.blur {
  color:var(--color1);
}
#shellPrefix > .hidden {
  transition:all var(--medAnimTime) ease;
  font-size:0;
  font-variation-settings: 'CASL' 1, 'slnt' -15;
}
#shellPrefix:hover > .hidden {
  transition-duration:var(--longAnimTime);
  transition-timing-function:var(--longTransition);
  font-size:1em;
}
#root > * {
  margin: 1rem 0;
  margin-top:0.3em;
}
#shellInput {
  transition:width var(--longAnimTime) ease;
}
.suggestions {
  padding:0.3em 0;
  overflow-x:auto;
  font-variation-settings: 'CASL' 1;
  white-space:nowrap;
}
.suggestions > span > span {
  animation: var(--medAnimTime) ease-out 0s 1 growIn;
  transition:all var(--medAnimTime) ease;
  color:var(--color1);
  border-radius:0.3em;
  border:0.1em solid var(--color1);
  cursor:pointer;
  background-color:transparent;
  padding:0.2em 0 0.2em 0.2em;
  background:transparent;
  margin:0 0.2em;
}
@keyframes shrinkOut {
  0% {font-size:1em;opacity:1}
  100% {font-size:0;opacity:0}
}
.suggestions > span > span.hidden {
  animation: var(--medAnimTime) ease-out 0s 1 shrinkOut;
  user-select:none;
  font-size:0;
  opacity:0;
}
.suggestions > span > span:hover {
  color:var(--color1Hover);
  border-color:var(--color1Hover);
  font-weight:800;
}
.suggestions > span > span:active {
  color:var(--color1Focus);
  border-color:var(--color1Focus);
  font-weight:900;
}
.suggestions > span > span > #hidden {
  transition:font-size var(--medAnimTime) ease;
  font-size:0;
  user-select:none;
}
.suggestions > span > span > #abbrev {
  transition:font-size var(--medAnimTime) ease;
  font-size:1em;
}
.suggestions > span > span > #input {
  transition:font-size var(--animTime) ease;
  outline:0;
  font-size:0;
  color:var(--colorFg);
}
.suggestions > span > span.active > #input {
  font-size:1em;
}
.suggestions > span > span > #text {
  transition:font-size var(--animTime) ease;
  font-size:1em;
}
.suggestions > span > span.active > #text {
  font-size:0;
}
.suggestions > span > span > #enter {
  background-repeat:no-repeat;
  background-position:right;
  user-select:none;
  display:none;
}
.suggestions > span > span.active > #enter {
  display:unset;
}
.suggestions > span > span.active {
  font-weight:800;
}
.suggestions > span > span.strong {
  color:var(--colorBg);
  padding:0.3em 0.1em 0.3em 0.3em;
  border:0;
  background:var(--color1);
}
.unstyled {
  border:0;
  outline:0;
}
.button {
  font-variation-settings: 'CASL' 1;
  transition:all var(--animTime) ease;
  border-radius:0.3em;
  cursor:pointer;
  background-color:transparent;
  padding:0.1em;
  border:0.1em solid transparent;
  background-position:right;
  background-origin:content-box;
}
.button.active {
  background-color:var(--color1);
  color:var(--colorBg);
}
.button.active:hover {
  background-color:var(--color1Hover);
}
.button.active:active {
  background-color:var(--color1Focus);
}
.button.hidden {
  opacity:0;
  pointer-events:none;
}
.button > .hidden {
  transition:all var(--medAnimTime) ease;
  font-size:0;
}
.button.active > .hidden {
  font-size:1em;
}
.button:hover {
  border-color:var(--color1Hover);
}
.button:active {
  background-color:var(--color1Focus);
  border-color:var(--color1Focus);
}
.icon {
  background-repeat:no-repeat;
  user-select:none;
}
.title {
  color:var(--color1);
  font-weight:bold;
}
.shellBuffer {
  display:flex;
  flex-direction:column;
  width: fit-content;
}
.shellBuffer > div {
  animation: var(--medAnimTime) ease-out 0s 1 fadeInLeft, var(--longAnimTime) linear 0s 1 whiteToColor;
  transition:all var(--animTime) ease;
  padding:1em 0.3rem;
  padding-top:0;
  overflow-wrap:anywhere;
}
.shellBuffer > div:hover {
  font-weight:600;
  color:var(--color1Hover)
  font-variation-settings: 'CASL' 0;
}
.shellBuffer > div.selected {
  font-weight:800;
}
.bufferMap {
  width:1rem;
}

#doubleBuffer {
  display:flex;
  color:var(--color1);
  font-variation-settings: 'CASL' 0;
}
.hsep {
  border-left:1px solid var(--colorFg);
  margin:0 0.5em;
}
#cmdBuffer {
  min-width:7em;
  font-variation-settings: 'MONO' 1;
}
.subtext {
  font-variation-settings: 'slnt' -15, 'CASL' 1;
  font-weight:300;
}
.subtext.tooltiptrigger {
  cursor:help;
}
